body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding:0px;
}

h1, h2, h3, h4{
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    color: #FF6738;
    padding: 20px 20px 0 20px;
}

h1{
    font-size: 64px;
    margin:0px;
}

h2{
    font-size: 48px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #FF6738;
}

h4{
    font-size: 34px;
    padding: 20px 0 0 0;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22.75px ;
    text-align: justify;
    padding: 0 20px;
    padding-top: 20px;
}

ul{
    font-size:18px;
    font-weight: 700;
    list-style: none;
    padding: 10px 260px 10px 0;
}

textarea{
    width: 300px;
    height: 200px;
    resize: none;
}

a{
    font-size: 18px;
    color:#FFF;
    font-weight: 900;
    text-decoration: none;
    margin: 0 10px;
}

a:hover{
    text-decoration-line: underline;
}

a:first-of-type{
    margin-left: 65px;
}

#bouton:hover{
    background-color: #FF764C;
}

/* IMAGES */
.imgheight{
    height:300px;
}

.webdesign{
    background-image: url(../img/webdesign.jpg);
    background-size: 1024px;
    background-position: 0% 40%;
}

.ordinateureffix{
    background-image: url(../img/ordinateur.jpg);
    background-size: 330px;
    background-position: center;
    width: auto;
    margin-right: 20px;
}

.rownanatkinson{
    background-image: url(../img/rowanatkinson.jpg);
    background-size: 100%;
    height: 370px;
}

.imgservices{
    background-position: center;
    width: 500px;
    margin: 25px 0;
    background-size: 500px;
}

.imgprojectdev{
    background-image: url(../img/projectdev.jpg);
    background-size: 700px;
}

.imgdevweb{
    background-image: url(../img/devweb.jpg);
}

.imghebergement{
    background-image: url(../img/webhosting.jpg);
}

/* COLUMNS-DIVISIONS */
.col-30{
    width:30%;
}

.col-40{
    width:40%;
}

.col-50{
    width:50%;
}

.col-60{
    width:60%;
}

.col-70{
    width:70%;
}

.col-90{
    width:90%;
}

/* ORANGE STRIP */
.orangestrip{
    height: 10px;
    width: 100%;
    background-color: #FF6738;
}

.orangestrip-large{
    height: 50px;
}

.bouton-orange{
    background-color:#FF6738;
    color:#FFF;
    border:0;
    width: 310px;
    height: 85px;
    font-size:24px;
    border-radius:5px;
    box-shadow: 0 2px 5px grey;
    margin-bottom: 30px;
}

/* COLORS */
.orangepale{
    color: #FFA938;
}

.background-orange{
    background-color: #FF6738;
}

.background-orange-light{
    background-color: #FFD59E;
}

.background-grey-light{
    background-color: #E5E5E5;
}

.background-grey-dark{
    background-color: #C4C4C4;
}

/* UTILS */
.wrapper{
    width: 1024px;
    margin: 0 auto;
}

.floatleft{
    float:left;
}

.floatright{
    float: right;
}

.clearboth{
    clear: both;
}

.nomargin{
    margin:0;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-30{
    margin-bottom:30px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.bouton-margin-right-70{
    margin-right: 70px;
}

.nopadding{
    padding: 0;
}

.padding-top-ressource{
        padding-top:30px;    
        margin-bottom: 4px;
}

.padding-left-20{
    padding-left: 20px;
}

.padding-left-70{
    padding-left: 70px;
}

.padding-right-70{
    padding-right: 70px;
}

.padding-right-20{
    padding-right: 20px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-bottom-50{
    padding-bottom:50px;
}

.padding-bottom-375{
    padding-bottom:375px;
}


/*SPÉCIAL */

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.lefondateur-hover{
    text-align: right;
    padding-top:320px;
    padding-right:20px;
}

.adresse{
    font-size: 18px;
    font-weight: 700;
}

.table-font-size{
    font-size: 20px;
}

/* HABILLAGE TABLEAU */
table{
    border-collapse: collapse;
    background-color: #DFDFDF;
}

th{
    border:3px solid #666;
    background-color: #FF6738;
    color:#FFF;
    padding: 10px;
    font-weight: 900;
    font-size: 25px;
}

td{
    border: 1px solid #CECECE;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

td:first-of-type{
    border: none;
    border-right: 3px solid #777;
    background-color: #FF6738;
    color: #FFF;
    font-weight: 900;
    font-size: 25px;
}

td:nth-child(3){
    text-align: justify;
}

td:nth-child(4){
    width:105px;
    text-align: right;
}

td:nth-child(5){
    text-align: left;
}

tr:nth-child(4n+1){
    background-color: #F8F8F8;
    border-top: 3px solid #777;
}

tr:nth-child(4n+2){
    background-color: #F0F0F0;
}

tr:nth-child(4n+3){
    background-color: #E8E8E8;
}

tr:nth-child(4n+4){
    background-color: #D0D0D0;
}

tr:hover{
    color: #80341C;
}

.table-fixed{
    display: block;
    height: 850px;
    overflow-y: auto;
}

/* HABILLAGE FORM */
.input-field{
    border: none;
    background-color: #FFD59E;
    padding: 20px;
    margin: 15px 15px 15px;
    width: 100%;
}